%flex-center
  display: flex
  align-items: center
  justify-content: center

%scroll-bar
  // for firefox
  scrollbar-color: rgba(44, 219, 187, 0.6) transparent
  scrollbar-width: thin
  -webkit-overflow-scrolling: touch
  overflow-scrolling: touch

  &::-webkit-scrollbar
    width: 8px
  &::-webkit-scrollbar:horizontal
    display: none
  &::-webkit-scrollbar-button
    display: none
  &::-webkit-scrollbar-piece
    background: transparent
  &::-webkit-scrollbar-piece:start
    background: transparent
  &::-webkit-scrollbar-thumb
    transition: all .5s
    background: linear-gradient(180deg, rgba(44, 219, 187, 0.6) 0%, rgba(124, 230, 41, 0.2) 100%)
    border-radius: 999px
  &::-webkit-scrollbar-corner
    background: transparent

$breakpoints: ("pc": "screen and (min-width:680px)","sp": "screen and (max-width:679px)")
=mq($breakpoint: pc)
  @media #{map-get($breakpoints,$breakpoint)}
    @content
